@model Vidly.ViewModels.MoviesViewModel



<h1> Movies </h1>

@if (!Model.Movies.Any())
{
<p>Threre are no Movies</p>
}

<table>
    <thread>
        <tr>
            <th>Movies</th>
        </tr>
    </thread>
    @foreach (var movies in Model.Movies)
    {
        <tr>
            <td>@Html.ActionLink($"{movies.Name}", movies.Id.ToString(), "Movies")</td>
        </tr>
    }
</table>
