@model Vidly.ViewModels.MoviesViewModel



<h1> Movies </h1>

@if (!Model.Movies.Any())
{
<p>Threre are no Movies</p>
}

<table>
    <thread>
        <tr>
            <th style="padding: 20px">Movie</th>
            <th style="padding: 20px">Genre</th>
        </tr>
    </thread>
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td style="padding: 20px">@Html.ActionLink($"{movie.Name}", (movie.Id - 1).ToString(), "Movies")</td>
            <td style="padding: 20px">@movie.Genre.Name</td>
        </tr>
    }
</table>
