@model Vidly.ViewModels.CustomersViewModel


<h1> Customers </h1>

@if (!Model.Customers.Any())
{
    <p>Threre are no customers</p>
}

<table>
    <thread>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Discount rate</th>
            
        </tr>
    </thread>
       @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink($"{customer.Name}", customer.Id.ToString(), "Customers")</td>
                <td>@customer.MembershipType.Name</td>
                <td>@customer.MembershipType.DiscountRate%</td>
            </tr>
        }
   </table>
