@model VidlyApp.ViewModels.CustomersViewModel


<h1> Customers </h1>

@if (!Model.Customers.Any())
{
    <p>Threre are no customers</p>
}

<table>
    <thread>
        <tr>
            <th style="padding: 20px">Customer</th>
            <th style="padding: 20px">Membership Type</th>
            <th style="padding: 20px">Discount rate</th>
            
        </tr>
    </thread>
       @foreach (var customer in Model.Customers)
        {
            <tr >
                <td style="padding: 20px">@Html.ActionLink($"{customer.Name}", customer.Id.ToString(), "Customers")</td>
                <td style="padding: 20px">@customer.MembershipType.Name</td>
                <td style="padding: 20px">@customer.MembershipType.DiscountRate%</td>
            </tr>
        }
   </table>
